<div ng-if="user" ng-include="'partials/list.html'"></div>

<div class="centered welcome" ng-if="!user">

  <div class="top">
    <img src="img/iphone.png" class="iphone">

    <h1>Easy Health</h1>
    <p>
      A tool for building Ecological Momentary Assessment Studies.
      <a href="{{loginURL}}" class="signin">
        <md-button class="md-raised" id="login">
          Sign In
        </md-button>
      </a>
      to start or join an experiment.
    </p>

  </div>

  <div class="what text">
    <h1>What is Easy health and what can it do?</h1>
    <p>A Platform for Rapid Prototyping of Connected Health Applications</p>
    <p>
      This a prototype for behavioural and clinical studies using Experience Sampling method or
      Ecological Momentary Assessment.

      //INSERT MORE COPY HERE!!!

      Easy Health provides a platform with building
      blocks for behavioral theories. With it, you can sample the world, reason about
      it, and even develop interventions aimed at changing behavior. This is no small
      undertaking, and may never be fully accomplished, but by making it open source,
      working with researchers, and creating a place where participants and researchers
      can find each other, we hope we will make better progress and move our understanding
      of our behavior forward and maybe get to live better, healthier lives.

      This platform is an adaptation of the Open Source system <a href="https://github.com/google/paco">PACO</a>
    </p>
  </div>

</div>
